@import "tailwindcss";
@import "preline/variants.css";

:root {
--amareloamarelo-dark: rgba(204, 132, 0, 1);
  --amareloamarelo-default: rgba(242, 159, 5, 1);
  --amareloamarelo-light: rgba(255, 178, 34, 1);
  --azulazul-dark: rgba(1, 17, 64, 1);
  --azulazul-default: rgba(7, 26, 173, 1);
  --azulazul-halflight: rgba(4, 20, 146, 1);
  --azulazul-light: rgba(26, 90, 217, 1);
  --branco-penaarte: rgba(250, 250, 250, 1);
  --brand-color-grey-200: rgba(58, 56, 71, 1);
  --brand-color-grey-300: rgba(96, 94, 112, 1);
  --brand-color-grey-400: rgba(115, 113, 133, 1);
  --brand-color-grey-500: rgba(136, 133, 153, 1);
  --brand-color-grey-600: rgba(157, 154, 173, 1);
  --brand-colorgrey600: rgba(96, 94, 112, 1);
  --escala-de-cinzacinza-200: rgba(58, 56, 71, 1);
  --escala-de-cinzacinza-300: rgba(96, 94, 112, 1);
  --escala-de-cinzacinza-400: rgba(115, 113, 133, 1);
  --escala-de-cinzacinza-500: rgba(136, 133, 153, 1);
  --escala-de-cinzacinza-600: rgba(157, 154, 173, 1);
  --escala-de-cinzacinza-700: rgba(186, 184, 198, 1);
  --escala-de-cinzacinza-800: rgba(216, 215, 222, 1);
  --escala-de-cinzacinza-900: rgba(226, 225, 230, 1);
  --escala-de-cinzapreto-cinza-100: rgba(22, 23, 28, 1);
  --grey-400: rgba(58, 56, 71, 1);
  --laranjalaranja-dark: rgba(213, 55, 19, 1);
  --laranjalaranja-default: rgba(242, 66, 27, 1);
  --laranjalaranja-light: rgba(246, 101, 69, 1);
  --verdeverde-dark: rgba(18, 68, 76, 1);
  --verdeverde-default: rgba(30, 107, 120, 1);
  --verdeverde-light: rgba(29, 162, 184, 1);
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
